<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625007570364-9vthv8s29j6dm2bg1psvootvloduubfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625007570364-9vthv8s29j6dm2bg1psvootvloduubfn</string>
	<key>API_KEY</key>
	<string>AIzaSyAl6kAStLZR4jUfCj37VPkrBvXteXdhy2w</string>
	<key>GCM_SENDER_ID</key>
	<string>625007570364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pciProyect</string>
	<key>PROJECT_ID</key>
	<string>pci-proyect</string>
	<key>STORAGE_BUCKET</key>
	<string>pci-proyect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625007570364:ios:882e6e6335b58737194fb9</string>
</dict>
</plist>